* {
  margin: 0;
}

body {
  margin: 0;
}

.container{
  width: 100vw;
  height: 100vh;
  font-size: 30px;
}

#first {
  font-size: 2em; /* 60px */
  background: lightpink;
  height: 50%;
  width: 8em;
}

#second {
  font-size: 1rem; /* 16px */
  background: lavender;
  height: 50%;
  width: 50%;
}
p{

}



/*#gallery {*/
/*  width: 1200px;*/
/*}*/

/*img {*/
/*  width: 50%;*/
/*  border: solid orange 4px;*/
/*  width: 500px;*/
/*}*/
